/*Login and registeration*/

.login-container, .register-container {
    width: 90%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(43, 38, 38, 0.3);
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

button {
    width: 30%;
    padding: 10px;
    background: #ff9800;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
}

a {
    color: #ffeb3b;
}

